@{ ViewBag.Title = "Home Page"; }
<div class="jumbotron">
    
    <h1>Admin Panel for Online Toy Store</h1>
    <p class="lead">This admin panel will allow the store admin to manage toy invetory, and conduct day to day business operation.</p>
    <div class="row">
        <div class="col-lg-10">
            <img width="100%" src="~/Content/Images/adminhome.jpg" />
        </div>
        <div class="col-lg-2">
            <div>
                @model DemoCode.Models.Admin
                @using (Html.BeginForm("ValidateAdmin", "Home", FormMethod.Post))
                {
        <div class="form-group">
            <label for="name" class="fw-bold">Username</label>
            @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
        </div>
                        <br />

                                        <div class="form-group form-check">
                                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
                                            <label class="form-check-label fw-bold" for="isActive">Password</label>
                                        </div>
                                                        <br />
                                                                        <button type="submit" class="btn btn-primary">Submit Details</button>}
            </div>
        </div>
    </div>
    
</div>
